.details-block {
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	padding-top: 20px;
	margin-top: 20px;
}

@media screen and (min-width: 1024px) {
	.details-block {
		position: fixed;
		min-height: 100vh;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		max-width: 400px;
		border-top: 0;
		border-bottom: 0;
		padding-top: 0;
		margin-top: 0;
	}
}
