@import "../../../scss/functions.scss";

.mtd-page {
  .fill-white {
    path {
      fill: #efefef;
    }
  }

  .unit {
    sup {
      top: 0;
      font-size: 50%;
    }
  }

  .min-height-quote {
    min-height: 45rem;
  }

  .snow-v2 {
    .title {
      font-size: rem(30);
      line-height: 1;
    }

    .copy {
      font-size: rem(16);
      line-height: 1.6;
    }

    .pluses {
      position: absolute;
      max-width: rem(100);

      &.top {
        top: rem(40);
        left: rem(40);
      }

      &.bottom {
        bottom: rem(40);
        right: rem(40);
      }

      svg {
        width: rem(30);
        height: rem(30);

        * {
          fill: #fff;
        }
      }

      &.fill-black {
        svg {
          * {
            fill: #000;
          }
        }
      }
    }

    .star-rating {
      svg {
        max-width: rem(22);
      }
    }

    .img-wrapper {
      position: relative;
      min-height: rem(420);
      img {
        object-fit: cover;
      }
    }

    &.snow-v2-index {
      section.hero {
        .wrapper {
          margin-bottom: rem(20);
        }

        .block {
          display: flex;
          justify-content: center;
          margin-left: auto;
          max-width: rem(400);

          svg {
            * {
              fill: #fff;
            }
          }
        }
      }

      section.quote {
        .wrapper {
          margin-top: rem(40);
        }

        .block {
          max-width: rem(700);
        }
      }

      section.hero,
      section.quote {
        display: flex;
        padding: 0;
        min-height: rem(600);

        .block {
          padding: rem(40) rem(24);
        }

        > img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1001;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-height: rem(600);
        }
      }

      section.section-2 {
        padding: rem(120);
        background: #000;
        text-align: center;

        p {
          font-size: rem(22);
          line-height: 1.6;
          margin: rem(20) auto 0 auto;
          max-width: rem(700);
        }
      }

      section.section-3 {
        padding: rem(80) 0;

        h2 {
          font-size: rem(50);
          margin: 0 auto rem(20) auto;
          text-align: center;
        }

        .row {
          .col {
            display: flex;

            > div {
              display: flex;
              flex-direction: column;
              padding: rem(10);
              //cursor: pointer;
              border-radius: rem(3);
              user-select: none;

              // &:hover {
              //   color: #000;
              //   background: #eaeaea;
              // }

              > img {
                max-width: rem(300);
                width: 100%;
                height: auto;
                margin: 0 auto rem(20) auto;
                border-radius: rem(3);
              }

              .title {
                margin-bottom: rem(10);
              }

              .icon {
                margin-top: rem(10);
                margin-bottom: rem(10);
                width: 100%;
                height: rem(120);
              }

              .copy {
                margin-bottom: rem(20);
                // min-height: rem(300);
              }

              .row {
                // min-height: rem(200);
              }

              .eng-for {
                // font-size: rem(16);
                text-align: center;
                // background: #000;
                //  padding: rem(8);
                //  color: #fff;
                text-transform: uppercase;
                // font-weight: 400;
                width: 100%;
                margin-top: auto;
                margin-bottom: rem(12);
                padding: 0.625rem 2.5rem;
                font-weight: 600;
                border: 0;
                font-size: 0.875rem;
              }

              .eng-for-blocks {
                text-align: center;
                font-size: rem(12);
              }

              small {
                display: block;
                line-height: 1;
                margin-top: rem(4);
                text-align: center;
              }
            }
          }
        }
      }

      section.section-4 {
      }

      section.section-5 {
      }

      section.section-6 {
        padding: rem(60) 0;

        .logo {
          min-height: rem(234);
        }

        .row {
          .title {
            font-weight: 600;
          }

          .plus {
            font-family: "Times New Roman", sans-serif;
            font-weight: 100;
            font-size: rem(32);
            flex: 0 0 rem(20);
            padding-right: rem(20);
            margin-top: -14px;
          }

          .copy {
          }
        }
      }

      section.section-7 {
        padding: rem(60) 0;

        .copy {
          margin-bottom: rem(40);
        }
      }

      section.section-8 {
        padding: rem(60) 0;
      }

      section.section-9 {
        padding: rem(60) 0;

        .compare {
          padding: rem(20);

          li {
            border: 1px solid #000;
            border-top-width: rem(1);
            border-right-width: rem(0);
            border-bottom-width: rem(0);
            border-left-width: rem(1);
            flex: 0 1 20%;
            max-width: 20%;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            align-items: center;
            font-size: rem(16);
            font-weight: 600;

            img {
              max-width: 60%;
            }

            p {
              margin-top: rem(10);
            }

            .dash-bull {
              font-size: rem(22);
            }

            .logo,
            .img {
              display: flex;
              min-height: rem(65);

              img {
                width: auto;
                height: rem(65);
              }
            }

            &:nth-child(4n + 4) {
              border-right-width: 0;
            }

            &:nth-child(4n + 1) {
              //border-color: red;
              align-items: flex-start;
              border-left-width: 0;
              flex: 0 1 40%;
              max-width: 40%;
            }

            &:nth-child(1) {
              //border-color: red;
              font-size: rem(22);
              justify-content: flex-end;
            }

            &:nth-child(-n + 4) {
              //border-color: red;
              border-top-width: rem(0);

              .logo,
              .img {
                justify-content: center;
              }

              &.column-1,
              &.column-2,
              &.column-3 {
                font-weight: 100;
                text-align: center;
              }
            }
          }
        }
      }

      section.section-10,
      section.section-11 {
        a {
          display: flex;
          flex-direction: column;
          background: #efefef;
          text-decoration: none;
          height: 100%;

          .content {
            strong {
              font-size: rem(22);
              line-height: 1.3;
            }

            .copy {
              font-size: rem(16);
              line-height: 1.6;
            }

            .read-more {
              text-decoration: underline;
              font-weight: 600;
              text-transform: uppercase;
            }
          }

          &:hover {
            color: #000;
          }
        }
      }
    }

    &.snow-v2-intellipower {
      section.section-1 {
        .wrapper {
          min-height: rem(525);

          p {
            max-width: rem(500);
          }
        }
      }

      section.section-2 {
        .wrapper {
          // max-width: rem(500);
          min-height: rem(560);

          .logo {
            width: 100%;
            max-width: rem(750);

            svg {
              width: 100%;
              height: auto;
            }
          }

          h2 {
            // text-transform: uppercase;
            font-size: rem(55);
          }
        }

        > svg {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
        }
      }

      section.section-3 {
        p.h1 {
          font-size: rem(120);
        }

        h2 {
          font-size: rem(76);
        }

        .power {
          .line-1,
          .line-2,
          .line-3 {
            line-height: 0;
          }

          .line-4 {
            font-size: rem(12);
            border-top: rem(4) solid #ffc10f;
          }
        }

        .consistent {
          .line-2 {
            font-size: rem(16);
            border-top: rem(2) solid #000;
          }
        }

        .videos {
          min-height: rem(760);

          .video {
            display: none;

            &.active {
              display: block;
            }
          }
        }

        .video-buttons {
          button {
            background: transparent;
            border-color: #d9d9d9;
            border-bottom-width: rem(2);
            border-style: solid;

            &.active {
              border-color: #000;
            }
          }
        }
      }

      section.section-4 {
        .block {
          .title {
            border-bottom: rem(2) solid #000;
          }
        }
      }

      section.section-8 {
        .img-wrapper img {
          object-position: left;
        }
      }

      section.section-9 {
        .faqs {
          display: none;

          &.active {
            display: block;
          }
        }

        button {
          background: #000;
          color: #fff;

          &.active {
            background: #ffc10f;
            color: #000;
          }
        }
      }
    }

    &.snow-v2-threex {
      section.hero {
        .wrapper {
          margin-bottom: rem(20);
        }

        .block {
          display: flex;
          justify-content: center;
          margin-left: auto;
          max-width: rem(400);

          svg {
            * {
              fill: #fff;
            }
          }
        }
      }

      section.quote {
        .wrapper {
          margin-top: rem(40);
        }

        .block {
          max-width: rem(700);
        }
      }

      section.hero,
      section.quote {
        display: flex;
        padding: 0;
        min-height: rem(600);

        .block {
          padding: rem(40) rem(24);
        }

        > img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1001;
          z-index: -1;
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-height: rem(600);
        }
      }
    }
  }
}

@media (max-width: rem(1024)) {
  .mtd-page {
    .min-height-quote {
      min-height: 60rem;
    }

    .snow-v2.snow-v2-index {
      section.hero,
      section.quote {
        min-height: rem(600);

        .wrapper {
          position: absolute;
        }

        > img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: initial;
          object-fit: cover;
        }
      }

      section.section-2 {
        padding: rem(40) rem(20);

        .pluses {
          position: relative;
          top: 0;
          left: 0;

          &.top {
            margin-bottom: rem(40);
          }

          &.bottom {
            margin-top: rem(40);
            margin-left: auto;
          }
        }
      }

      section.section-3 .row .col a .icon {
        max-width: em(400);
        margin-left: auto;
        margin-right: auto;
      }

      section.section-6 .logo {
        min-height: auto;
      }
    }

    .snow-v2.snow-v2-intellipower section.section-3 .videos {
      min-height: auto;
    }
  }

  .quote-block {
    max-width: 100%;
  }
}
