.financing-filters {
  left: -100vw;

  &.active {
    left: 0;
  }
}

.financing-filters-button {
  &.active {
   // display: none;
  }
}

.no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .financing-filters {
    left: 0;
  }
}
